[submodule "cnv_facets"]
	path = cnv_facets
	url = https://github.com/mskcc-cwl/cnv_facets
[submodule "utils"]
	path = utils
	url = https://github.com/mskcc-cwl/utils
[submodule "msisensor_workflow"]
	path = msisensor_workflow
	url = https://github.com/mskcc-cwl/msisensor_workflow
[submodule "delly_workflow"]
	path = delly_workflow
	url = git@github.com:mskcc-cwl/delly_workflow
